<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-dialog" [style.max-width]="maxWidth" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3 class="modal-title">{{ title }}</h3>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar">&times;</button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer" *ngIf="hasFooter">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>
